@model cwagnerBugTracker.Helpers.DashboardViewModel

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<!--(DELETED - top 4 mini-boxes)-->
<!-- Row -->
<!-- Row -->
<!--(DELETED - larger 3 boxes)-->
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="pull-right">
                    @Html.ActionLink("View Complete List", "Index", "Projects")
                </div>
                <h4 class="card-title">Projects</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        @Html.Action("ListProjectsPartial", "Projects", new { projects = Model.Projects })
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Feeds</h4>
                <ul class="feeds">
                    @*<li>
                            <div class="bg-info"><i class="fa fa-bell-o text-white"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span>
                        </li>
                        <li>
                            <div class="bg-success"><i class="ti-server text-white"></i></div> Server #1 overloaded.<span class="text-muted">2 Hours ago</span>
                        </li>
                        <li>
                            <div class="bg-warning"><i class="ti-shopping-cart text-white"></i></div> New order received.<span class="text-muted">31 May</span>
                        </li>
                        <li>
                            <div class="bg-danger"><i class="ti-user text-white"></i></div> New user registered.<span class="text-muted">30 May</span>
                        </li>
                        <li>
                            <div class="bg-inverse"><i class="fa fa-bell-o text-white"></i></div> New Version just arrived. <span class="text-muted">27 May</span>
                        </li>
                        <li>
                            <div class="bg-info"><i class="fa fa-bell-o text-white"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span>
                        </li>
                </ul>
            </div>
        </div>
    </div>*@
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="pull-right">
                    @Html.ActionLink("View Complete List", "Index", "Tickets")
                </div>
                <h4 class="card-title">Tickets</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        @Html.Action("ListTicketsPartial", "Tickets", new { tickets = Model.Tickets })
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#ticketsTable').DataTable({
                responsive: true,
                "columnDefs": [{
                    "visible": false,
                    "targets": [1, 3, 5, 7, 9]
                }]
            });
        });

        $(document).ready(function () {
            $('#projectsTable').DataTable({
                responsive: true,
                "columnDefs": [{
                    "visible": false,
                    "targets": [2]
                },
                {
                    "width": "15%",
                    targets: [0, 3]
                }]
            });
        });
    </script>
}

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
