@model cwagnerBugTracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="wrapper">
    <div class="login-register" style="background:linear-gradient(to right, #f62d51 0%, #660fb5 100%);">
        <div class="login-box card">
            <div class="card-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="box-title m-b-20">Recover Password</h3>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="@nameof(Model.Email)" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
