@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<section id="wrapper">
    <div class="login-register" style="background:linear-gradient(to right, #f62d51 0%, #660fb5 100%);">
        <div class="login-box card">
            <div class="card-body">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Reset Password</h3>
                        <p class="text-muted">An Email has been sent with instructions to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

