@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="background:linear-gradient(to right, #f62d51 0%, #660fb5 100%); padding: 10%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row pricing-plan">
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box">
                                    <div class="pricing-body b-l">
                                        <div class="pricing-header">
                                            <h3 class="text-center">Submitter</h3>
                                            <p class="uppercase">Role Summary</p>
                                        </div>
                                        <div class="price-table-content">
                                            <div class="price-row">View projects assigned to</div>
                                            <div class="price-row">View/Edit own tickets</div>
                                            <div class="price-row">Create tickets for projects assigned to</div>
                                            <div class="price-row">*Cannot be assigned to tickets*</div>
                                            <div class="price-row">*Cannot edit ticket status*</div>
                                            @using (Html.BeginForm("GuestLogin", "Account", new { role = Domain.Roles.Submitter }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", id = "loginform" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="price-row">
                                                    <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Demo</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box b-l">
                                    <div class="pricing-body">
                                        <div class="pricing-header">
                                            <h3 class="text-center">Developer</h3>
                                            <p class="uppercase">Role Summary</p>
                                        </div>
                                        <div class="price-table-content">
                                            <div class="price-row">View projects assigned to</div>
                                            <div class="price-row">View/Edit tickets assigned to</div>
                                            <div class="price-row">*Cannot edit ticket status*</div>
                                            <div class="price-row">&nbsp</div>
                                            <div class="price-row">&nbsp</div>
                                            @using (Html.BeginForm("GuestLogin", "Account", new { role = Domain.Roles.Developer }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", id = "loginform" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="price-row">
                                                    <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Demo</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box featured-plan">
                                    <div class="pricing-body">
                                        <div class="pricing-header">
                                            <h4 class="price-lable text-white bg-warning"> Popular</h4>
                                            <h3 class="text-center">Admin</h3>
                                            <p class="uppercase">Role Summary</p>
                                        </div>
                                        <div class="price-table-content">
                                            <div class="price-row">Assign roles, projects, and tickets</div>
                                            <div class="price-row">View projects and tickets (own and all)</div>
                                            <div class="price-row">Create projects and tickets</div>
                                            <div class="price-row">Edit projects and tickets</div>
                                            <div class="price-row">&nbsp</div>
                                            @using (Html.BeginForm("GuestLogin", "Account", new { role = Domain.Roles.Admin }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", id = "loginform" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="price-row">
                                                    <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Demo</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box">
                                    <div class="pricing-body b-r">
                                        <div class="pricing-header">
                                            <h3 class="text-center">Project Manager</h3>
                                            <p class="uppercase">Role Summary</p>
                                        </div>
                                        <div class="price-table-content">
                                            <div class="price-row">View projects (own and all)</div>
                                            <div class="price-row">Create and edit projects</div>
                                            <div class="price-row">Assign users to projects</div>
                                            <div class="price-row">View/edit ticket details for own projects</div>
                                            <div class="price-row">Assign developers to tickets</div>
                                            @using (Html.BeginForm("GuestLogin", "Account", new { role = Domain.Roles.ProjectManager }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", id = "loginform" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="price-row">
                                                    <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Demo</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>