@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="wrapper">
    <div class="login-register" style="background:linear-gradient(to right, #f62d51 0%, #660fb5 100%);">
        <div class="login-box card">
            <div class="card-body">
                <h3 class="box-title m-b-20">Your password has been reset.</h3>
                <div>
                    <p class="text-muted">
                        Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
