@model IEnumerable<cwagnerBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<div class="card">
    <div class="card-body">
        <h2>Tickets</h2>

        @if(User.IsInRole(Domain.Roles.Submitter) || User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }

        @Html.Action("ListTicketsPartial", new { tickets = Model })

    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#ticketsTable').DataTable({
                responsive: true
            });
        });
    </script>
}