@model IEnumerable<cwagnerBugTracker.Models.Project>

@{
    ViewBag.Title = "ProjectList";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Project List For All Users</h2>
        <p>
            @Html.ActionLink("Create New", "Create") <span> | </span>
            @Html.ActionLink("View archived projects", "ArchivedProjecs")
        </p>
        <div class="table-responsive m-t-40">
            <table class="table table-bordered table-striped" id="projectsTable" cellspacing="0" width="100%">
                @Html.Action("ListProjectsPartial", new { projects = Model })
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#projectsTable').DataTable({
                responsive: true
            });
        });
    </script>
}